
body{
    text-align: center;
    margin: auto;
    background-image: url(nuqta-rasm.png),url(oq-rasm.jpg);
    background-position: left bottom , left top;
    background-repeat: repeat-x, repeat;
    background-size: 320px 200px,120px 80px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(82, 81, 81);
    position: sticky;
    top: 0;
}
li{
    float: left;
}

ul > li a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s ease;
}
ul >li:hover {
    background-color: rgba(60, 122, 238, 0.494);      
    
   
}
ul >li:active {
    background-color: rgba(60, 122, 238, 0.574);
    transform: scale(.95);
    color: rgb(184, 183, 183);
}
.p{
    margin-top: 50px;
    color: rgba(235, 230, 230, 0);
}


.s{
    float: right;
    background-color: rgb(11, 163, 11);
}
.f{
    font-size: 25px;
    margin-top: 40px;
}
input{
    font-size: 20px;
    transition: width 0.4s ease-in-out;
    width: 300px;
}
input[type="submit"]{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
}
input[type="text"]:focus {
    width: 350px;
}
input[type="password"]:focus {
    width: 350px;
}

.p1{
  display: block;
  margin-right: 100px;
  
  font-size: 17px;
}

.p2 a{
    text-decoration: none;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    border-color: black;
    display: inline-block;
    background-color: rgb(246, 245, 245);
    
}
a :hover [class="o"]{
    background-color: rgb(235, 16, 16); 
}

.i{
    background-color: rgb(233, 19, 19);
}


.c{
    width: 310px;
    font-size: 20px;
    display: inline-block;
    transition: width 0.4s ease-in-out;
}
select[class="c"]:focus {
    width: 350px;
}
.l{
    display: block;
}

.a{
    display: inline;
}
.a2{
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 100px;
}
.a3{
    display: block;
    font-size: 20px;
    margin-right: 100px;
}
.d{
    margin-top: 10px;
    background-color: rgb(82, 81, 81);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

 img{
    width: 300px;
    height: 300px;
    display: block;
  }
  
  .matn {
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-left: 100px;
    

  }
  .Matn {
    border: 2px solid;
    width: 300px;
    height: 445px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;

  }
  .Matn:hover{
    box-shadow: 2px 3px 5px;
  }
  .Matn:hover .overlay{
   
   opacity: 1;
  }

  .m {
    background-color: rgb(40, 224, 224);
    color: rgb(176, 2, 2);
    font-size: 18px;
  }
.img{
    width: 100%;
    height: 200px;
    margin-top: 0%;

}
.n{
    padding-top: 20px;
    text-align: center;
    height: 200px;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxP4qgRSV5fFRBOAji1IOKX5A4VyQStOoTew&s);
    width: 100%;

}

li:hover ul li a:link {
    display: block;

}




.animated-btn {

background-color: green;
color: white;
border: none;
padding: 20px 40px;
font-size: 14px;
border-radius: 6px;
cursor: pointer;
transition: all 0.4s ease;
position: relative;
overflow: hidden;

}

.animated-btn:focus {
border-radius: 50%;
width: 55px;
height: 55px;
padding: 0;

}
.animated-btn span {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
transition: opacity 0.1s ease;

}
.submit-text {
opacity: 1;
}
.check-icon {
opacity: 0;
}
.animated-btn:focus.submit-text {
opacity: 0;
}
.animated-btn:focus.check-icon {
opacity: 1;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #10101000;
}
.text {
  color: rgb(247, 247, 247);
  background-color: rgba(0, 0, 0, 0.603);
  padding: 4px;
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
 
 
}



button:active {
width: 50px;
height: 50px;
border-radius: 50%;
padding: 0;
font-size: 0;

}

button:active::after {
content: "✓";
font-size: 24px;
color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.pagination {
  display: inline-block;
  font-size: 25px;
  margin-top: 800px;
  background-color: white;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid;
  border-color: rgb(186, 186, 186);
}

.pagination a:hover{
  background-color: #b6b4b4;
  border-radius: 5px;
}
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}